{% extends 'base.html.twig' %}

{% block title %}Hello Dominique!{% endblock %}

{% block body %}
<div class="container">
    <div class="card mb-3">
        <h3 class="card-header text-center">Dominique ANCEAU</h3>
        <div class="card-body">
            <h5 class="card-title text-center">m.a.</h5>
        </div>
        <div class="text-center">
            <img src="{{ asset('images/love.jpg') }}" alt="yyyy" width="50%" height="auto">
        </div>
        <div class="card-body text-center">
            <p class="card-text">Une femme formidable qui me manque énormément</p>
        </div>
        <div class="card-footer text-muted text-center">
            since : 15th March 2021
        </div>
    </div>
</div>
{% endblock %}
